# Temp files and logs
log/
*.log
temp/
www/test.php

# Config files
# Allowing config files in root
!.gitignore
!.htaccess

# Downloaded files of Composer and Node.js packages
!vendor/*
node_modules/

# Workbench backup files
*.bak