<!DOCTYPE html>
<html lang="cs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="styles/common.css" rel="stylesheet">
    <link href="styles/header.css" rel="stylesheet">
    <link href="styles/detail.css" rel="stylesheet">
    <link href="styles/footer.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Pokédex</title>
</head>
<body>
    <header class="header">
        <div class="header-item">
            <a class="link" href="user">User</a>
        </div>
        <div class="header-item">            
            <a class="link" href="#">Logout</a>
        </div>
        <div class="header-item">            
            <a class="link" href="login">Login</a>
        </div>
    </header>
    <div class="content-container">
        <h1 class="title">Pokémon #001</h1>
        <div class="detail-container">
            <div class="pokemon-image-container">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
            </div>
            <div class="info-container">                
                <p class="text">There is a bud on this Pokémon's back. To support its weight, Ivysaur's legs and trunk grow thick and strong. If it starts spending more time lying in the sunlight, it's a sign that the bud will bloom into a large flower soon.</p>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <h6 class="footer-title">Created by Michal&nbsp;Šmahel & Václav&nbsp;Pavlíček</h6>
    </footer>
</body>
</html>