<!DOCTYPE html>
<html lang="cs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="../../www/styles/common.css" rel="stylesheet">
    <link href="../../www/styles/index.css" rel="stylesheet">
    <link href="../../www/styles/header.css" rel="stylesheet">
    <link href="../../www/styles/pokemons.css" rel="stylesheet">
    <link href="../../www/styles/footer.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Pokédex</title>
</head>
<body>
    <header class="header">
        <div class="header-item">
            <a class="link" href="user.html">User</a>
        </div>
        <div class="header-item">            
            <a class="link" href="#">Logout</a>
        </div>
        <div class="header-item">            
            <a class="link" href="login.html">Login</a>
        </div>
    </header>
    <div class="content-container">
        <h1 class="title">SPŠE Pokédex</h1>
        <form class="filters">
            <div class="filter">
                <label for="pokemon-type">Types:</label>
                <select id="pokemon-type">
                    <option value="grass">Grass</option>
                    <option value="poison">Poison</option>
                    <option value="mercedes">Water</option>
                </select>
            </div>
            <div class="filter">
                <label for="owner-nick">Owner:</label>
                <input type="text" id="owner-nick"/>
            </div>
            <div class="filter">
                <label for="order-type">Order:</label>
                <select id="order-type">
                    <option value="alphabetically-ascending">Alphabetically - Ascending</option>
                    <option value="alphabetically-descending">Alphabetically - Descending</option>
                    <option value="numerically-ascending">Numerically - Ascending</option>
                    <option value="numerically-descending">Numerically - Descending</option>
                </select>
            </div>
            <div class="button-container">
                <input type="submit" value="Send" class="submit-button"/>
            </div>
        </form>
        <div class="pokemons hover">
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
            <a href="detail.html" class="pokemon">
                <img class="pokemon-image" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Pokémon photo">
                <h3 class="pokemon-number">#001</h3>
                <h2 class="pokemon-name">Pokémon</h2>
                <div class="skills">
                    <div class="skill grass">Grass</div>
                    <div class="skill poison">Poison</div>
                </div>
            </a>
        </div>
    </div>
    <footer class="footer">
        <h6 class="footer-title">Created by Michal&nbsp;Šmahel & Václav&nbsp;Pavlíček</h6>
    </footer>
</body>
</html>