* {
    font-family: 'Roboto Mono', monospace;
}

.content-container {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    justify-content: center;
}

.content-container .title {
    text-align: center;
    font-size: 48px;
    margin: 0 0 32px;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-gap: 32px;
}

.pokemons .pokemon {
    color: black;
    max-width: 320px;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 24px;
    padding: 20px;
}

.pokemons .pokemon:hover {
    background-color: #efefef;
}

.pokemons .pokemon .pokemon-image {
    width: 100%;
}

.pokemons .pokemon .pokemon-number {
    margin: 4px 0;
    font-size: 20px;
}

.pokemons .pokemon .pokemon-name {
    margin: 4px 0;
    font-size: 36px;
}

.pokemons .pokemon .skills {
    display: flex;
    flex-direction: row;
}

.pokemons .pokemon .skills .skill {
    padding: 6px 0;
    width: 80px;
    margin-right: 8px;
    text-align: center;
    border-radius: 8px;
    color: white;
}

.pokemons .pokemon .skills .skill.grass {
    background-color: green;
}

.pokemons .pokemon .skills .skill.poison {
    background-color: purple;
}

.footer .footer-title {
    color: white;
    font-size: 24px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .content-container {
        padding: 32px;
    }

    .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .content-container {
        padding: 32px 48px 48px 48px;
    }

    .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1440px) {
    .content-container {
        padding: 48px 64px 64px 64px;
    }

    .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}